body{
    
}

h1{
    
}

h2{
    
}

h3{
    
}

p{
    
    
}

#banner{
margin: 0;
padding: 0;
box-sizing: content-box;
    
}
.header-links{
    display: flex;
}

.link-wrapper{
    list-style: none;
}
.link{
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    transition: color 0.3s ease;

}

#home{

}

.main-container{
    
}

#resume{
    
}

#about{

}
#about-left{
    
}
#about-right{
    
}
#skills{
    
}

.projects{
}
#project-card{

}

#contact{
    
}
#contact-form-container{
    
}
#contact-form{

}
.form-field{
    
}
.form-input{
    
}
#submit-button{
    
}
